**/*.dll
**/*.dylib
**/*.exe
**/*.exe~
**/*.out
**/*.so
**/*.test
**/*.tfvars
**/*.tfvars.json


**/.DS_Store
**/.idea
**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/.vscode

**/terraform.tfstate
**/terraform.tfstate.backup

go.work
